[flake8]
max-line-length = 120
exclude =
    doc,
    .tox,
    .git,
    .yml,
    Pipfile.*,
    docs/*,
    .cache/*

fcn_exclude_functions =
    logging,
    LOGGER,
    parser,
    click,
    json,
    time

enable-extensions =
    FCN,
